<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Credit Card Validation Demo</title>
    <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <div class="container-fluid">
  
        <div class="creditCardForm">
            <div class="heading">
                <h1>Confirm Purchase</h1>
            </div>
         <div class="alert alert-success collapse" id="success-alert"  data-dismiss="alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong> Success </strong>
                 </div>   
          <div class="alert alert-danger collapse" id="danger-alert"  data-dismiss="alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            <strong id="card-errors"> </strong>
        </div>
        <form action="/" method="post" id="payment-form">
          <div class="form-row">
            <label for="card-element">
              Credit or debit card
            </label>
            <div id="card-element"></div>
           
           </div>
          <button class="saveButton" id="submit">Submit Payment</button>
        </form>
    </div>
</div>
<script src="~/js/script.js"></script>
</body>
</html>
