body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    position: relative;
    right:450px;
}

.card .title {
    color: grey;
    font-size: 18px
}

    .card button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px
    }

    .card a {
        text-decoration: none;
        font-size: 22px;
        color: black
    }

    .card button:hover, a:hover {
        opacity: 0.7
    }

 
 .menu  {
    width: 50%;
    margin: 0 auto;
    overflow: auto;
    position:relative;
    left:150px;
    bottom:300px;
}
 
 .menu a {
     text-decoration:none;
     color:#000;
 }
.menu ul {
    list-style-type: none;
}

.menu li {
    float: left;
    margin: 10px;
    padding:15px;
    border: 5px solid #fff;
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
     background-color:#eef393;
     cursor:pointer;
}

    .menu li:hover {
        -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
        box-shadow: 0px 0px 7px rgba(255,255,255,0.9)
    }
    #table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%
    }

    #table td, #table th {
        border: 1px solid #ddd;
        padding: 8px
    }

    #table tr:nth-child(even) {
        background-color: #f2f2f2
    }

    #table tr:hover {
        background-color: #ddd
    }

    #table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white
    }

a {
     display: inline-block;
     padding: 0.3em 1.2em;
     margin: 0 0.3em 0.3em 0;
     border-radius: 2em;
     box-sizing: border-box;
     text-decoration: none;
     font-family: 'Roboto',sans-serif;
     font-weight: 300;
     color: #FFFFFF;
     background-color: #4eb5f1;
     text-align: center;
     transition: all 0.2s
}

    a:hover {
         background-color: #4095c6
    }